@import "src/scss/settings/colors";
@import "src/scss/settings/fonts";

.sign-section {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $base-font-family;

  .sign-text {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;

    h1 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding-bottom: 10px;
    }

  }

  form {

    > div {
      padding-bottom: 20px;
    }

    div:nth-last-of-type(2) {
      padding-bottom: 0px;
    }

    .sign-email {
      display: flex;
      flex-direction: column;
    }

    .sign-password {
      display: flex;
      flex-direction: column;
    }

    .sign-btn-box {
      padding-top: 20px;
    }

  }

  input {
    height: 25px;
    border: none;
    border-bottom: 1px solid $dark_navy_accent_color;
    border-radius: 5px;
  }

  input:focus {
    background: $light_text_color;
    outline-color: $dark_navy_accent_color;
  }

  label {
    padding-bottom: 5px;
  }

  .resetpass-box {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    p {
      padding-right: 5px;
    }
  }
}

.password-eye-wrapper {
  display: flex;

  input {
    width: 100%;
  }

  svg {
    margin-left: -30px;
    margin-top: 5px;
  }
}

.label-tooltip-wrapper {
  display: flex;

  label {
    padding-right: 5px;
  }

}