$dark_accent_color: #000007;
$dark_navy_accent_color: #162950;
$navy_accent_color: #455ba5;
$light_navy_accent_color: #8393ff;
$light_text_color: #d1d0ff;
$textarea_color: #ECECFF;
$ul_light_accent: #f1f0ff;
$ul_lighter_accent: #fafaff;

