@import "../../settings/colors";
@import "../../settings/fonts";

.form-section {
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: $base-font-family;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .form-section-text {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
  }

  input {
    height: 25px;
    border: none;
    border-bottom: 1px solid $dark_navy_accent_color;
    border-radius: 5px;
  }

  input:focus {
    background: $light_text_color;
    outline-color: $dark_navy_accent_color;
  }

  textarea {
    border: none;
    border-bottom: 1px solid $dark_navy_accent_color;
    border-radius: 5px;
    height: 80px;
    resize: none;
  }

  textarea:focus {
    background: $light_text_color;
    outline-color: $dark_navy_accent_color;
  }

  label {
    padding-bottom: 5px;
  }

  button {
    background: $light_text_color;
    border: none;
    border-radius: 10px;
    padding: 14px 32px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
  }

  .form-name {
    display: flex;
    flex-direction: column;
  }

  .form-email {
    display: flex;
    flex-direction: column;
  }

  .form-subject {
    display: flex;
    flex-direction: column;
  }

  .form-textarea {
    display: flex;
    flex-direction: column;
  }

}

.error-message {
  color: red;
  font-size: 12px;
  padding-top: 2px;
}

@media screen and (min-width: 768px) {
  #form {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-section {
      background: $ul_lighter_accent;
      align-items: center;
      width: 400px;
      height: 500px;
      border-radius: 15px;
      box-shadow: 0 0 8px white;

      input {
        background: $ul_lighter_accent;
      }

      textarea {
        background: $ul_lighter_accent;
      }

      form {
        width: 400px;
      }
    }
  }

}


@media screen and (min-width: 1000px) {

  #form {
    .form-section {
      width: 600px;

      form {
        width: 600px;
      }
    }
  }

}