@import "../../settings/colors";
@import "../../settings/fonts";

.hello-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;

  video {
    display: none;
  }

  h1 {
    font-size: 20px;
    color: $dark_accent_color;
    font-family: $base-font-family;
    text-align: center;
  }

  h1:nth-child(3) {
    padding-top: 10px;
    padding-bottom: 40px;
    font-weight: 600;
    animation: text-slide-up 1s linear;
  }

  .icons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    z-index: auto;

    .icon-opacity {
      opacity: 0.50;
      transition: all 1s ease-out;
      z-index: auto;
    }

    img {
      height: 100px;
      width: 100px;
      z-index: auto;
    }
  }
}

#hello-section {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .hello-section {
    position: relative;
    height: calc(100vh - 180px);
    video {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: -20;
      top: 0;
      left: 0;
    }

    h1 {
      font-size: 34px;
      color: white;
    }

    .icons-wrapper {
      padding-bottom: 80px;
      justify-content: space-around;

      img {
        display: none;
      }
    }

    .box-for-transition {

      .btn {
        background: $ul_lighter_accent;
        color: $dark_accent_color;
        border: 3px solid $dark_accent_color;
        padding: 20px 60px;
        font-size: 22px;
      }
    }

  }
}